@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
*{
	font-family: 'Open Sans', sans-serif;
	img{
		max-width: 100%;
	}
}

.pull-rigth{
	float: right;
}
.section{
	margin-bottom: 110px;
	&__title{
		text-align: center;
		margin-bottom: 45px;
		font-family: 'Playfair Display', serif;
		font-size: 60px;
		font-weight: bold;

	}
	&__subtitle{
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 15px;
		font-family: 'PT Sans', sans-serif;
		margin-bottom: 30px;
	}
}

.btn{
	display: inline-block;
	padding: 15px 25px;
	color: white;
	text-align: center;
	background-color: #ba1723;
}

.hide{
	display: none;
	&-tablet{
		@include  breakpoint(tablet){
			display: none;
		}
	}
	@include  breakpoint(tablet){
		display: block;
	}

}

.footer{
	background-color: #000100;
	color: white;
	padding: 100px 0 225px 0;
	text-align: center;
	::-webkit-input-placeholder {color:white;}
	::-moz-placeholder          {color:white;}/* Firefox 19+ */
	:-moz-placeholder           {color:white;}/* Firefox 18- */
	:-ms-input-placeholder      {color:white;}

	&__order-call{
		input{
			width: 100%;
			max-width: 505px;
			font-size: 18px;
			margin-top: 20px;
			background-color: #000100;
			color: white;
			padding: 10px 0;
			border: none;
			outline: none;
			border-bottom: 2px solid white;
			&.btn{
				display: block;
				margin: 45px auto ;
				padding: 15px 25px;
				color: white;
				text-align: center;
				background-color: #ba1723;
				width: auto;
				border: none;
				@include  breakpoint(tablet){
					margin: 45px 0;
				}
			}

		}

		@include  breakpoint(tablet){
			text-align: left;
		}

	}
	&__list{
		padding: 20px 0;
		@include  breakpoint(phablet){
			text-align: left;
		}
		.title{
			font-size: 20px;
			margin-bottom: 25px;
		}
	}
	a{
		text-decoration: none;
		color: inherit;
	}

	li{
		margin-bottom: 15px;
		list-style: none;
		&.hidden{
			visibility: hidden;
		}
	}

}
.header{
	background: black;
	padding: 30px 20px;
	color: #fff;
	margin-bottom: 50px;
	a{
		color:#fff;
		text-decoration: none;
		&:hover{
			color:red;
		}
	}
}
.contacts{
	@include breakpoint(phablet){
		display: block;
		height: 40px;
	}
		@include breakpoint(tablet){
			display: block;
			height: 0px;
		}
	&__adress{
		font-size: 14px;
		@include breakpoint(phablet){
			float: left;
		}
	}
	&__phone{
		font-size: 14px;
		@include breakpoint(phablet){
			float: right;
		}
		@include breakpoint(tablet){
			margin-top: 20px;
		}
	}
}
.menu{
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: none;
	text-align: center;
	@include breakpoint(phablet){
		display: block;
		margin: 0 auto;
	}
	ul{
		list-style: none;
	}
	li{
		margin:20px 0;
		@include breakpoint(phablet){
			display: inline-block;
			margin-right: 30px;
		}
	}
}
.bars{
	position: absolute;
	right:30px;
	top:50px;
	width:25px;
	@include breakpoint(phablet){
		display: none;
	};
}
.bar{
	height:3px;
	background:#fff;
	margin:4px 0;
}
.active .bar:nth-child(2){
	opacity:0;
}
.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(5px) translateX(2px);
	transition: all 1s ease;
}
.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
}
.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}
.bar{
	transition: all 1s ease;
}
.call-back{
	background: #f6f6f6;
	border: 1px solid #919191;
	padding: 15px;
	form{
		background: #f6f6f6;
		border: 1px solid #919191;
		padding: 40px 15px 40px 15px;
		.form__title{
			font-size: 26px;
			font-family: 'Playfair Display', serif;
		}
		input{
			width: 100%;
			background: #f6f6f6;
			max-width: 505px;
			font-size: 18px;
			margin-bottom: 20px;
			color: black;
			padding: 10px 0;
			border: none;
			outline: none;
			border-bottom: 1px solid #919191;

		}
	}
}
.service{
	text-align: center;
	padding: 30px;
	border: 1px solid #919191;
	margin-bottom: 30px;
	@include breakpoint(phablet){
		padding: 0;
	}
	img{
		max-width: 100%;
		margin-bottom: 20px;
	}
	&__text{
		padding: 30px;
	}
	&__name{
		font-family: 'Playfair Display', serif;
		font-size: 20px;
		margin-bottom: 20px;
	}
	&__description{
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
	}

}
