@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
*{
	font-family: 'PT Sans', sans-serif;
	img{
		max-width: 100%;
	}
}
.invisible{
	visibility: hidden;
	display: none;
	@media (min-width:750px)  and (max-width:800px){
		height: 350px;
		display: block;
	}
	
}
.pull-rigth{
	float: right;
}
.section{
	margin-bottom: 110px;
	text-align: center;
	&__title{
		display: inline-block;
		
		margin-bottom: 45px;
		font-size: 50px;
		position: relative;
		@media (min-width:400px){
			&:before,&:after{
			content: "";
			display: inline-block;
			height: 2px;
			width: 35px;
			background-color: black;
			position: absolute;
			top:50%;
			}
			&:after{
				right: -50px;
			}
			&:before{
				left: -50px;
			}
		}
		
		@include breakpoint(mobileonly){
			font-size: 30px;
		}
	}
	&__subtitle{
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
	}
}

.order{
	color: white;
	background-image: url(/images/3.png);
	background-position: center;
	padding: 70px 0;
	background-origin:padding-box;

	.section__title{
		margin-bottom: 0px;
		&:before,&:after{
			background-color: white;
		}
		
	}
	&__wrap{
		max-width: 505px;
		margin: 0 auto;
	}
	
	::-webkit-input-placeholder {color:white;}
	::-moz-placeholder          {color:white;}/* Firefox 19+ */
	:-moz-placeholder           {color:white;}/* Firefox 18- */
	:-ms-input-placeholder      {color:white;}
	input{
			width: 100%;
			//display: block;
			
			font-size: 18px;
			margin-top: 20px;
			background-color: transparent;
			color: white;
			padding: 10px 0;
			border: none;
			outline: none;
			border-bottom: 2px solid white;
			&.btn{
				display: block;
				margin: 45px auto ;
				padding: 15px 25px;
				color: white;
				text-align: center;
				background-color: #ba1723;
				width: auto;
				border: none;
				
			}

		}
}

.reviews{
	text-align: left;
	background-color: #f6f6f6;
	border: 20px solid #f6f6f6;
	outline: 2px solid #919191;
	padding: 40px;
	outline-offset:-22px;
	&__quote{
		font-size: 107px;
		margin-bottom: -65px;
		margin-top: -25px;
	}
	
	&__text{
		font-size: 19px;
		margin-bottom: 25px;
	}
	&__autor{
		font-size: 24px;
		color: #c6444d;
		margin-top: 25px;
	}
}

.border-contacts{
	margin-bottom: 10px;
	@include breakpoint(mobileonly){
		border: 2px solid #c5c5c5;
		padding: 35px 0 10px 0;
	}
	@include breakpoint(laptop){
		border: 2px solid #c5c5c5;
		padding: 35px 0 25px 0;
	}
}
[class^='contacts__']{
	margin-right: -30px;
	margin-bottom: 20px;
	display: inline-block;
	
	
	span{
		font-size: 19px;
		&:first-child{
			font-size: 30px;
		}
	}
	@include breakpoint(mobileonly){
		span{
			font-size: 16px;
			margin-right: 10px;
			&:first-child{
				font-size: 24px;
			}
		}
	}
}
.contacts__{
	&phone{
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 50px;
			height: 50px;
			background-image: url(/images/phone.png);
			left: -74px;
		}
	}
	&adress{
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 35px;
			height: 55px;
			background-image: url(/images/pin.png);
			left: -71px;
		}
	}
	&work-time{
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 47px;
			height: 47px;
			background-image: url(/images/clock.png);
			left: -59px;
		}
	}
}
.news{
	font-size: 12px;
	margin-bottom: 15px;
	text-align: justify;
	
	@media (min-width:450px){
		font-size: 16px;
	}
	@include breakpoint(phablet){
		font-size: 19px;
	}
	@include breakpoint(laptop){
		font-size: 19px;
	}
	&__text{
	
		
		.readmore{
			display: block;
			text-decoration: none;
			color: #ba1723;
			font-weight: bolder;
			&:before{
				content: 'Читати більше'
			}
		}
		&.full-story {
			max-height: initial;
			.readmore{
				&:before{
					content: 'Згорнути'
				}
			}
		}
		@include breakpoint(mobileonly){
			max-height: 20vw;
		}
		@media (min-width:450px){
			max-height: 30vw;
		}
		@include breakpoint(phablet){
			max-height: 30vw;
		}
		@include breakpoint(tablet){
			max-height: 10vw;
		}
		@include breakpoint(laptop){
			max-height: 10vw;
		}

	}
	&__title{
		font-weight: bolder;
		margin: 10px 0;
		@include breakpoint(phablet){
			font-size: 25px;
			margin: 15px 0;
		}
		@include breakpoint(laptop){
			font-size: 30px;
			margin: 25px 0;
		}
		
		

	}
	&__subtitle{
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 15px;
		font-family: 'PT Sans', sans-serif;
	}
}

.btn{
	display: inline-block;
	padding: 15px 25px;
	color: white;
	text-align: center;
	background-color: #ba1723;
}

.hide{
	display: none;
	&-tablet{
		@include  breakpoint(tablet){
			display: none;
		}
	}
	@include  breakpoint(tablet){
		display: block;
	}

}

.footer{
	background-color: #000100;
	color: white;
	padding: 100px 0 225px 0;
	text-align: center;
	::-webkit-input-placeholder {color:white;}
	::-moz-placeholder          {color:white;}/* Firefox 19+ */
	:-moz-placeholder           {color:white;}/* Firefox 18- */
	:-ms-input-placeholder      {color:white;}

	&__order-call{
		input{
			width: 100%;
			max-width: 505px;
			font-size: 18px;
			margin-top: 20px;
			background-color: #000100;
			color: white;
			padding: 10px 0;
			border: none;
			outline: none;
			border-bottom: 2px solid white;
			&.btn{
				display: block;
				margin: 45px auto ;
				padding: 15px 25px;
				color: white;
				text-align: center;
				background-color: #ba1723;
				width: auto;
				border: none;
				@include  breakpoint(tablet){
					margin: 45px 0;
				}
			}

		}

		@include  breakpoint(tablet){
			text-align: left;
		}

	}
	&__list{
		padding: 20px 0;
		@include  breakpoint(phablet){
			text-align: left;
		}
		.title{
			font-size: 20px;
			margin-bottom: 25px;
		}
	}
	a{
		text-decoration: none;
		color: inherit;
	}

	li{
		margin-bottom: 15px;
		list-style: none;
		&.hidden{
			visibility: hidden;
		}
	}

}
.header{
	background: black;
	padding: 30px 20px;
	color: #fff;
	a{
		color:#fff;
		text-decoration: none;
		&:hover{
			color:red;
		}
	}
}
.adress{
	font-size: 14px;
	@include breakpoint(phablet){
		float: left;
	}
}
.phone{
	margin-top: 12px;
	font-size: 14px;
	@include breakpoint(phablet){
		float: right;
	}
}
.menu{
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	display: none;
	text-align: center;
	@include breakpoint(phablet){
		display: block;
		margin: 0 auto;
	}
	ul{
		list-style: none;
	}
	li{
		margin:20px 0;
		@include breakpoint(phablet){
			display: inline-block;
			margin-right: 30px;
		}
	}
}
.bars{
	position: absolute;
	right:30px;
	top:50px;
	width:25px;
	@include breakpoint(phablet){
		display: none;
	};
}
.bar{
	height:3px;
	background:#fff;
	margin:4px 0;
}
.active .bar:nth-child(2){
	opacity:0;
}
.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(5px) translateX(2px);
	transition: all 1s ease;
}
.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
}
.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}
.bar{
	transition: all 1s ease;
}
.call-back{
	background: #f6f6f6;
	border: 1px solid #919191;
	padding: 15px;
	form{
		background: #f6f6f6;
		border: 1px solid #919191;
		padding: 40px 15px 40px 15px;
		.form__title{
			font-size: 26px;
			font-family: 'Playfair Display', serif;
		}
		input{
			width: 100%;
			background: #f6f6f6;
			max-width: 505px;
			font-size: 18px;
			margin-bottom: 20px;
			color: black;
			padding: 10px 0;
			border: none;
			outline: none;
			border-bottom: 1px solid #919191;

		}
	}
}
