html
	head
		include ./parts/head.pug
	body
		.header
			.wrapper
				.bars
					.bar
					.bar
					.bar
				.contacts
					.contacts__adress
						|Ежедневно: 10:00 - 22:00
						br
						|г. Москва, Арбат, 20
					.contacts__phone
						|+7 (495) 021-20-79
				.menu
					ul
						a(href="#")
							li
								|Студия
						a(href="#")
							li
								|Услуги
						a(href="#")
							li
								|Специалисты
						a(href="#")
							li
								|Прайс-лист
						a(href="#")
							li
								|Акции
						a(href="#")
							li
								|Отзывы
						a(href="#")
							li
								|Контакты
		.section
			.wrapper
				.section__title L'Arbuz
					.section__subtitle Студия красоты и здоровья
				.row.clearfix
					.col-tablet-3-4
						img(src="/images/1.png",alt="1")
					.col-tablet-1-4
						.call-back
							form
								.form__title
									|Заказать звонок
								input(type='text',name='name',placeholder='Имя')
								input(type='text',name='phone', placeholder='Телефон')
								button.btn(type='submit')
									|Отправить
							
				.row.clearfix
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_01.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,
									br
									|чистка лица, пилинги  
									br
									|и обертывания
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_02.png",alt="service")
							.service__text
								.service__name
									|Массаж
								.service__description
									|Массаж для коррекции фигуры,
									br
									|Массаж для беременных,
									br
									|Массажи по телу, лечение
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_03.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,чистка лица, пилинги и обертывания
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_04.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,чистка лица, пилинги и обертывания
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_05.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,чистка лица, пилинги и обертывания
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_06.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,чистка лица, пилинги и обертывания
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_07.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,чистка лица, пилинги и обертывания
					.col-tablet-1-4
						.service
							.service__pic
								img(src="/images/service_08.png",alt="service")
							.service__text
								.service__name
									|Косметология
								.service__description
									|Брови, наращивание ресниц,чистка лица, пилинги и обертывания
		.section
			.about-us
		.section
			.section__title Наши преимущества
		.section
			.order
		.wrapper
			.section
				.section__title Отзиви
			.section
				.section__title Контакти
			.section
				.section__title Новости
				.row.clearfix
					.col-tablet-1-2
					
					.col-tablet-1-2

		.footer
			.wrapper
				.social-icons
				row.clearfix
					.col-tablet-1-3.hide-tablet
						.footer__order-call
							h1 Заказать звонок -
							form
								input(type='text' placeholder='Имя')
								input(type='text' placeholder='Телефон')
								input.btn(type='submit' value='Отправить')
				
					.col-phablet-1-2.col-tablet-1-3
						.footer__list
							.title Услуги
							ul
								li
									a(href="#") Косметология
								li
									a(href="#") Массаж
								li
									a(href="#") Макияж
								li
									a(href="#") Ногтивой севіс
								li
									a(href="#") Шугаринг
								li
									a(href="#") Парихмахерские услуги
								li
									a(href="#") Стилист
								li
									a(href="#") Мастер-модельєр
					.col-phablet-1-2.col-tablet-1-3
						.footer__list
							.title L`Arbuz
							ul
								li
									a(href="#") Студия
								li
									a(href="#") Услуги
								li
									a(href="#") Стециалисти
								li
									a(href="#") Прайс-лист
								li
									a(href="#") Акции
								li
									a(href="#") Отзиви
								li.hidden
									a(href="#") hidenn
								li
									a(href="#") © 2017 Школа-студия «INDIGO»
					.col-tablet-1-3.hide
						.footer__order-call
							h1 Заказать звонок -
							form
								input(type='text',name='name',placeholder='Имя')
								input(type='text',name='phone', placeholder='Телефон')
								input.btn(type='submit' value='Отправить')
